*.iml
.DS_Store
target/
*/target/
*/*.iml
*.project
*.classpath
.settings/
.project
.classpath
test-output/
*/test-output/
velocity.log
*/velocity.log
.idea/
.sonar/
sonar-project.properties
*.swp
bin/
