<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Sample - SignIn</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/bootstrap-3.1.1.min.js"></script>

<style type="text/css"></style>
<link href="css/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body style="background-color: #f7f7f7">
	<div class="container">
		<div id="loginbox" style="margin-top: 50px;"
			class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">This is index page</div>
					<div
						style="float: right; font-size: 80%; position: relative; top: -20px">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
